@tailwind base;
@tailwind components;
@tailwind utilities;

.linear__text__gradient {
  background: linear-gradient(to right bottom, white 30%, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  background-color: #1a202c;
  color: white;
}
